* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
}

html {
  background-color: black;
}

body {
  background-color: #f5f5f5;
  background-image: url('public/assets/images/leaves.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-position-y: 50px;
  color: #343a40;
}

body a {
  color: #72bbd6;
  transition: color 0.3s;
}

body a:hover {
  color: #3a9fbf;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
}
