{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "assets": "./src/assets",
          "db": "./db",
          "checklist": "./src/checklist",
          "event": "./src/event",
          "file": "./src/file",
          "notation": "./src/notation",
          "person": "./src/person",
          "shared": "./src/shared",
          "source": "./src/source",
          "story": "./src/story",
          "tag": "./src/tag"
        }
      }
    ]
  ]
}
