<div class="column">
  <p>
    <a href="http://localhost:1899/tags">tags</a>
  </p>

  <h1><%= tag.title %></h1>

  <p>
    <a href="http://localhost:1899/tag/<%= tag.id %>" class="main-link">new version</a>
  </p>
</div>

<%- include('./' + subview) %>
