.PersonLink {
  &.alreadySelected {
    display: inline-block;
    color: gray;
    font-weight: bold;
  }

  &.smallText {
    font-size: 0.8em;
  }
}

.PersonListItem {
  .dates {
    display: inline-block;
    margin-left: 10px;
    color: gray;
    text-decoration: none;
    font-size: 0.8em;
  }
}

.PersonCheckmarkItem {
  margin: 8px 0 8px 15px;

  img {
    margin-right: 10px;
    vertical-align: middle;
  }

  span {
    display: inline-block;
    vertical-align: middle;
  }
}
