.PersonTree {
  display: inline-block;
  padding: 10px;
  border: 2px solid gray;
  max-width: 100%;
  overflow: scroll;
  padding-bottom: 20px;

  .PersonTreeCell {
    border: 1px solid gray;
    padding: 5px 10px;
    text-align: center;
  }
}
