.Table {
  border-collapse: collapse;

  td, th {
    border: 1px solid gray;
    padding: 5px 10px;
  }
}

.column {
  display: inline-block;
  vertical-align: text-top;
}

.mainNavigation {
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    display: inline-block;
    padding: 0 5px;
  }
}