.Layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.LayoutHeader {
  background-color: black;
  color: white;
  padding: 10px;

  h1 {
    font-size: 28px;
    margin: 5px;
  }

  li {
    margin: 0;
    display: inline-block;
    padding: 0 5px;
    font-weight: bold;
    font-size: 18px;
  }

  a {
    color: white;
    text-decoration: none;
    border-bottom: 3px solid transparent;

    &:hover {
      color: white;
      border-color: #7ace42;
    }
  }
}

.LayoutContent1 {
  flex: 1;
  display: flex;
  justify-content: center;

  .LayoutContent2 {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
  }
}

.LayoutFooter {
  background-color: black;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  font-style: italic;

  a {
    color: gray;
    text-decoration: none;
  }
}
